body {
    height: 100vh;
   /*  background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    
    */
    background: black url('imagens/wallpaper002.jpg') no-repeat fixed center top/cover; /* usei a barra para separa o size dos outros */
    
   
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    border: solid 1px rgb(200, 226, 241);
    
}