body {
    background-image: url('https://raw.githubusercontent.com/gustavoguanabara/html-css/master/imagens/mascote.png');
    background-size: 100px 100px; /* teste cover, contain e auto*/
    background-repeat: repeat-x;
}

main {
    margin: auto;
    max-width: 900px;
}